<div class="card-content">
  <div class="top-view">
    <span>{{ flightDetails[0].name }}</span>
  </div>
  <div class="row-view">
    <div class="left-view">
      <div class="flight-content-detail">
        <span><b>From: </b></span>
        <span>{{ flightDetails[0].source }}</span>
      </div>
    </div>
    <div class="right-view">
      <div class="flight-content-detail">
        <span><b>To: </b></span>
        <span>{{ flightDetails[0].destination }}</span>
      </div>
    </div>
  </div>

  <div class="row-view">
    <div class="left-view">
      <div class="flight-content-detail">
        <span><b>Departure Time: </b></span>
        <span>{{ flightDetails[0].departureTime }}</span>
      </div>
    </div>
    <div class="right-view">
      <div class="flight-content-detail">
        <span><b>Arrival Time: </b></span>
        <span>{{ flightDetails[0].arrivalTime }}</span>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="grid-container">
    <h3 class="seat-details-header">Seat Details</h3>
    <div *ngFor="let item of seatsDetails; let i = index">
      <div class="grid-item">
        <div
          [ngClass]="item.isOccupied === true ? 'occupied-seat' : 'vacant-seat'"
          (click)="item.isOccupied && this.openDialog(item.number)"
        >
          <div class="seat-details">
            <span>{{ item.number }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #servicesModal>
  <div class="modal">
    <h2 mat-dialog-title>Services</h2>
    <form [formGroup]="servicesForm" (ngSubmit)="onSubmit()">
      <label>Ancilliary Services</label>
      <mat-form-field>
        <mat-select
          multiple
          formControlName="ancilliaryServices"
          (selectionChange)="onchange()"
        >
          <mat-option
            *ngFor="let service of flightDetails[0].ancilliaryServices"
            [value]="service"
            >{{ service }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <label>Shopping Items</label>
      <mat-form-field>
        <mat-select
          multiple
          formControlName="shoppingItems"
          (selectionChange)="onchange()"
        >
          <mat-option
            *ngFor="let service of flightDetails[0].shoppingItems"
            [value]="service"
            >{{ service }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <label>Meals</label>
      <mat-form-field>
        <mat-select
          multiple
          formControlName="meals"
          (selectionChange)="onchange()"
        >
          <mat-option
            *ngFor="let service of flightDetails[0].meals"
            [value]="service"
            >{{ service }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <div mat-dialog-actions class="dialog-action-container">
        <button
          mat-button
          type="button"
          class="primary-btn"
          (click)="closeDialog()"
        >
          Cancel
        </button>
        <button
          mat-button
          type="submit"
          class="secondary-btn"
          [disabled]="!submit"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</ng-template>
