<div>
  <span class="destination-title">Why Cruzer Airlines?</span>
  <div class="bottom-content-wrapper">
    <div class="company-content">
      <img
        loading="eager"
        src="../../../assets/svg/search.svg"
        alt="search"
        class="svg-icon"
      />
      <span class="benefits">Look no further</span>
      <span>Search all online travel deals in one go</span>
    </div>
    <div class="company-content">
      <img
        loading="eager"
        src="../../../assets/svg/wallet.svg"
        alt="wallet"
        class="svg-icon"
      />
      <span class="benefits">Shop with confidence</span>
      <span>No hidden fees, taxes or other nasty surprises</span>
    </div>
    <div class="company-content">
      <img
        loading="eager"
        src="../../../assets/svg/dollar.svg"
        alt="money"
        class="svg-icon"
      />
      <span class="benefits">Pay the way you want</span>
      <span>See only sellers who support your preferred methods</span>
    </div>
    <div class="company-content">
      <img
        loading="eager"
        src="../../../assets/svg/instant.svg"
        alt="instant"
        class="svg-icon"
      />
      <span class="benefits">Instant booking</span>
      <span>For selected sellers, book with just a couple of clicks</span>
    </div>
  </div>
</div>
<div>
  <span class="destination-title">
    Top popular destination in India
  </span>
  <div class="destination-wrapper">
    <div class="destination-content">
      <div class="img-content">
        <img
          loading="eager"
          src="../../../assets/images/mysore-destination.jpg"
          alt="Mysore"
          class="dest-img"
        />
        <span class="dest-label">Mysore</span>
      </div>
      <div class="img-content">
        <img
          loading="eager"
          src="../../../assets/images/goa-destination.jpg"
          alt="Goa"
          class="dest-img"
        />
        <span class="dest-label">Goa</span>
      </div>
    </div>

    <div class="destination-content">
      <div class="img-content">
        <img
          loading="eager"
          src="../../../assets/images/shimla-destination.jpg"
          alt="Shimla"
          class="dest-img"
        />
        <span class="dest-label">Shimla</span>
      </div>
      <div class="img-content">
        <img
          loading="eager"
          src="../../../assets/images/jaipur-destination.jpg"
          alt="Jaipur"
          class="dest-img"
        />
        <span class="dest-label">Jaipur</span>
      </div>
    </div>

    <div class="destination-content">
      <div class="img-content">
        <img
          loading="eager"
          src="../../../assets/images/mumbai-destination.jpg"
          alt="Mumbai"
          class="dest-img"
        />
        <span class="dest-label">Mumbai</span>
      </div>
      <div class="img-content">
        <img
          loading="eager"
          src="../../../assets/images/delhi-destination.jpg"
          alt="Delhi"
          class="dest-img"
        />
        <span class="dest-label">Delhi</span>
      </div>
    </div>
  </div>
</div>
