$nav-background: #20232a;
$nav-font-color: #ffffff;
$link-hover-color: #61dafb;

.nav-container {
  background: $nav-background;
  display: flex;
  font-size: medium;

  .navbar {
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 60px;

    .logo-container {
      display: flex;
      width: 100%;
      align-items: center;

      .flight-logo-text {
        color: $link-hover-color;
        margin-left: 10px;
      }

      .flight-logo {
        height: 18px;
        width: 18px;
        display: flex;
      }
    }

    .nav-links-container {
      height: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      height: 100%;

      .links {
        display: flex;
        color: $nav-font-color;
        padding-left: 15px;
        padding-right: 15px;
        align-items: center;
        cursor: pointer;
      }

      .links:hover {
        color: $link-hover-color;
        transition: 0.3s;
      }

      .active-link {
        display: flex;
        color: $link-hover-color;
        padding-left: 15px;
        padding-right: 15px;
        align-items: center;
        position: relative;
        cursor: pointer;
      }

      .active-bar {
        position: absolute;
        bottom: -1px;
        height: 4px;
        background: $link-hover-color;
        left: 0;
        right: 0;
        z-index: 1;
      }
    }

    .roles-container {
      .login-button {
        display: flex;
        width: 100px;
        height: 60px;
        justify-content: center;
        border: none;
        outline: none;
        color: $nav-font-color;
        background: $nav-background;
        align-items: center;

        .google-logo {
          height: 30px;
          width: 30px;
        }

        .google-logo-text {
          display: flex;
          width: 50%;
          margin-left: 5px;
          justify-content: center;
        }
      }

      .login-button:hover {
        cursor: pointer;
        color: $link-hover-color;
      }

      .login-button:hover .google-logo {
        animation: rotate 1s;
      }

      .roles-img {
        width: 35px;
        height: 35px;
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 10px;
        cursor: pointer;
      }

      .role-wrapper-container {
        position: absolute;
        z-index: 1;
        display: flex;
        justify-content: flex-end;
        margin-top: 12px;
        margin-left: -1.2%;

        .role-wrapper {
          background: $nav-background;
          border-radius: 5px;
          padding: 15px;
          color: $nav-font-color;

          .role-options {
            display: flex;
            flex-direction: column;

            .role {
              padding: 5px;
              color: $nav-font-color;
            }

            .active {
              color: $link-hover-color;
            }

            .role:hover {
              cursor: pointer;
              color: $link-hover-color;
            }
          }
        }
      }
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
