$red-alert: #f00000f6;
$green-alert: #7bbb1c;
$white-font-color: #ffffff;

html,
body {
  height: 100%;
  margin: 0;
}

* {
  font-family: "Rubik", sans-serif;
}

.failure-status {
  display: flex;
  align-items: center;
  background-color: $red-alert;
  font-weight: bold;
  color: $white-font-color;
}

.success-status {
  display: flex;
  align-items: center;
  background-color: $green-alert;
  font-weight: bold;
  color: $white-font-color;
}

.primary-btn {
  font-weight: bold;
  color: #673ab7;
}

.secondary-btn {
  font-weight: bold;
  color: #e4566d;
  margin-left: 7px !important;
}

@import "./app/shared/styles/input.scss";
@import "./app/shared/styles/label.scss";
